//Colors
$primary: #101010;
$secondary: #5D6677;

// the :export directive is the magic sauce for webpack
:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
};

// Responsive

$mobile-width: 959px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
