//3rd Party Libraries
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:wght@400;500;700&display=swap');

//Custom Libraries
@import 'variables.scss';
@import 'header';
@import 'dashboard';
@import "tab-chart";
//font-family: 'DM Mono', monospace;

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f5f5;
  @include mobile {
    background: #ffffff;
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

a {
  text-decoration: unset;
}

.ui-num {
  font-family: 'DM Mono', monospace;
}

.ui-z-index1 {
  z-index: 1;
}
